*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Custom Properties */
:root {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  --fs-h1: 1.25rem;
  --fs-h2: 1rem;
  --fs-h3: 0.75rem;
  --fs-h4: 0.5rem;

  --fw-reg: 300;
  --fw-bold: 1000;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: rgb(202, 171, 59);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

.logo-div {
  margin: 0;
  position: relative;
}

.logo-img {
  padding: 20px 0 20px 0;
  margin: 0;
}

.nav {
  margin: 0 0 0 0;
  max-width: 100%;
  height: 90px;
  background: var(--color-dark);
}

.nav__list {
  list-style-type: none;
  color: var(--color-accent);
  font-weight: var(--fw-bold);
  text-align: right;
  margin-right: 15px;
}

.nav__item {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.nav__link {
  text-decoration: none;
  color: var(--color-accent);
  justify-content: space-evenly;
}

.nav__link:hover .navlink::selection {
  text-decoration: underline;
}

body {
  text-align: left;
  background-color: var(--color-dark);
  /* background-image: url(../Images/Home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  margin-bottom: 20px;
  height: 100%;
  overflow-y: scroll;
}

.mylink {
  text-decoration: none;
}

.title_link {
  /* display: inline-block; */
  text-decoration: none;
  /* text-align: center; */
  list-style: none;
  height: 100%;
  margin: 10px;
  padding:0;
  color: rgb(255, 255, 255);
  font-size: var(--fs-h1);
}

strong {
  color: var(--color-accent)
}

.title_big {
  margin: 100px 10px 300px;
  padding:0;
  color: rgb(255, 255, 255);
  font-size: var(--fs-h3);
}

.main-list__link {
  color: rgb(255, 255, 255);
  font-size: var(--fs-h1);
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.main-list__link:hover{
  font-weight: var(--fw-bold);
  color: var(--color-accent);
  background-color: white;
}

.mylink:hover {
  font-weight: var(--fw-bold);
  color: var(--color-light);
  background-color: white;
}

.homepage {
  width: 100%;
  max-width: 2200px;
  margin: 0;
  height: auto;
}

.logo-img {
  width: 100%;
  max-width: 100px;
  height: auto;
  position: absolute;
  left: 30px;
  top: 5px;
  margin: 0;
}

.footer {
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  font-size: var(--fs-h4);
}

.social-list {
  list-style-type: none;
  color: var(--color-dark);
  font-weight: var(--fw-bold);
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px; 
}


/* Video Page */

.video_page {
}

.video_content {
  padding: 10%;
  position: relative;
  display: flex;
}

.video_embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}


/* Photo Page */


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
}

.gallery::after {
  content: "";
  width: 350px;
}
